= @greeting + @user.name + ','
%br
%br
This is an alert that the check-out below is currently overdue:
%br
%br
- @items.each do |item|
  = item.name + ' -- ' + item.quantity.to_s
  %br
%br
Please respond at your soonest convenience to detail the status of this check-out and when you will be able to complete its return.
%br
%br
All items must be returned to the Advising & Resource Center at 30 Evans Hall during
%a{:href => @url} open hours
or otherwise be dropped off at 475 Evans Hall between 9:00 AM and 5:00 PM on campus workdays.
%br
%br
Thanks for using the Cal Teach Inventory!
