= @greeting + @user.name + ','
%br
%br
The following reservation has been processed:
%br
%br
= @item.name + ' -- ' + @item.quantity.to_s
%br
%br
= 'This reservation will be active from ' + @date_out + ' to ' + @date_in + '.'
%br
%br
To cancel this reservation, please visit:
%br
= @url
%br
%br
Thanks for using the Cal Teach Inventory!
