= @greeting + @user.name + ','
%br
%br
This is a reminder that the check-out below is due tomorrow:
%br
%br
- @reservations.each do |reservation|
  = reservation.item.name + ' -- ' + reservation.quantity.to_s
  %br
%br
If you want more time, we may be able to extend your return date. Reply to this email and we will process your request.
%br
%br
All items must be returned to the Advising & Resource Center at 30 Evans Hall during
%a{:href => @url} open hours
or otherwise be dropped off at 475 Evans Hall between 9:00 AM and 5:00 PM on campus workdays.
%br
%br
Thanks for using the Cal Teach Inventory!
