@import "utils";

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

$page-width: 960px;
.column {
	/*TODO (Yuxin) this height should not be hard-coded!*/
	height: 500px;
}

$left-padding: 40px;
.header-container {
    padding-left: $left-padding;
}

.search-bar-container {
	input {
		width: 200px;
	}
}
.left-column-container {
/*	width: 25%;*/
	min-width: 150px;
	background-color: #eee;
    padding-left: $left-padding;
}

.item-container {

	@include border-radius(2px, 2px, 2px, 2px);
	text-align: center;
	margin-bottom: 20px;
	border: 1px grey solid;
}

.item-info {
	padding: 25px 10px 0px 10px;
}

.title {
	@include height(30px, 19px);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;

}

.subtitle {
	@include height(25px, 12px);
	color: white;
	&.available {
		background-color: #57af3e;
	}
	&.unavailable {
		background-color: #d73a40;
	}
}


