@import "base";

.envelope-icon {
  color: $calteach-dark-blue;
  margin-left: 5px;
}

.checked_date {
  font-weight: bold;
  .check-icon {
    color: green;
    margin-left: 2px;
  }
}

.res_date {
  font-style: italic;
}

.book-icon {
  margin-left: 2px;
}

.pencil-icon {
  margin-left: 5px;
}

.Overdue {
  background-color: #f2dede;
}

.Checked_In {
  background-color: #dff0d8;
}

.Reserved {
  background-color: #fcf8e3;
}

.Checked_Out {
  background-color: #d9edf7;
}