@import "base";

.envelope-icon {
  color: $calteach-dark-blue;
  margin-left: 5px;
}

.checked_date {
  font-weight: bold;
  .check-icon {
    color: green;
    margin-left: 2px;
  }
}

.res_date {
  font-style: italic;
}

.book-icon {
  margin-left: 2px;
}

.pencil-icon {
  margin-left: 5px;
}