%td{:label => "reservation", :class => "reservation_out", :'data-id' => reservation.id}= date_out(reservation)
%td{:label => "reservation", :class => "reservation_in", :'data-id' => reservation.id}= date_in(reservation)