.left-column-container.column
  / .header-text Calteach Inventory
  %h2 Search
  .search-bar-container
    = form_tag items_path, :method => :get, :id => 'search_form' do
      %input{:class => 'search-bar', :type => 'text', :placeholder => 'Search for an Item...', :name => 'query', :value => @query}
      = submit_tag 'Search', {:id => 'search_submit', :class => "calteach-button"}
  %h2 Categories
  %ul
    - @all_categories.each do |category|
      %li.category{:data => {:category => category}}>
        / hardcoded for now
        %i
        .category-name= category
    %li.category.add-item>
      %i{:class => "fa fa-barcode"}
      .category-name Add Item
