#reservation-table.col-sm-12.form-horizontal
  %h4 Reservations on this item
  %table.table.sortable
    %thead
      %tr
        %th Name
        %th #
        %th Status
        %th Date Out
        %th Date In
        %th.sorttable_nosort Actions
    .body
      - @reservations.reserved_or_checked_out.not_canceled.to_a.reverse_each do |reservation|
        - user = reservation.user
        %tr{:class => reservation.get_status.sub(" ", "_")}
          %td
            =user.name
            %a{:href => "mailto:" + user.email}
              %i.fa.fa-envelope-o.envelope-icon
          %td= reservation.quantity
          %td= reservation.get_status
          = render "/reservations/date_cells", :reservation => reservation 
          %td= render partial: '/admin/reservations/actions', locals: {reservation: reservation}
  %div{:id => "reservation_error", :visible => "false"}
