%table
  %thead
    %tr
      %th Name
      %th Category
      %th Quantity
      %th More Info
  %tbody
    = render :partial => 'item', :collection => @items
= link_to 'Add new item', new_item_path
